<section class="login">



  <form class="mt-8 w-1/2 mx-auto p-6" action="/register" method="POST">
    <% if(messages.error){ %>
      <div class="text-center text-sm text-red-500">
        <%= messages.error %>
      </div>
    <% } %>
    <input type="hidden" name="remember" value="true">
    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <label for="name" class="sr-only">Name</label>
        <input
          placeholder="Name"
          id="name" name="name"
          type="text"
          value="<%= messages.name %>"
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm my-4"/>
      </div>
      <div>
        <label for="email-address" class="sr-only ">Email address</label>
        <input id="email-address" value="<%= messages.email %>" name="email" type="text" autocomplete="email" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm my-4" placeholder="Email address" >
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input id="password" name="password" type="password" autocomplete="current-password"  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm my-4" placeholder="Password" >
      </div>
    </div>
    <div>
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-10  ">
        Register
      </button>
    </div>
  </form>

  <p class="text-center text-sm text-gray-700">Are You already registered ? <a href="/login" class="ml-5 btn-primary rounded-full px-5 py-2">Log in</a></p>
</section>
