@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
body{
  font-family: "Lato",sans-serif;
  -webkit-font-smoothing:antiliased;

}
nav{

  .menuList li:last-child a{
    background:$primary;
    &:hover{
      background-color:$primary-hover;
    }
  }
  .menuList{

      li a{
        transition:$smooth;
        &:hover{
          color:$primary;
        }
    }
  }
}
section.hero{
  background:$secondary;
}
.size{
  background:$secondary;
}
.add-to-cart{
  border:2px solid $primary;
  border-radius:2rem;
  transition: $smooth;
  &:hover{
    background:$primary;
    border-color:$pure;
    color:$pure;
  }
  &:focus{
    outline:none;
  }
}
.btn-primary{
  background:$primary;
  color:$pure;
  transition: $smooth;
  .fa-angle-double-left{
    transition: $smooth;
  }
  &:hover{
    background:$primary-hover;
    .fa-angle-double-left{

        transform:translateX(-30px);
      }
  }
}

.cart{
  background: $secondary;
}

.amount{
  color:$primary;
}

section.login{
  background: $secondary;
  min-height:calc(100vh-86px);
}
.noty_theme__mint{
  border-radius:50px !important;
  padding-left:10px !important;
}
.fb-btn{
  background:#2962ff;
  color:$secondary;

}
.Google-btn{
  background:#dc4d32;
  color:$secondary;
}
