<section class="cart py-16">
  <!-- order container -->
  <div class="order container mx-auto w-1/2">
      <!-- order heading -->
      <div class="flex items-center border-b border-gray-300 pb-2 mb-8" >
        <img src="/images/cart-black.png" alt="cart"/>
        <h1 class="font-bold mx-4 text-2xl">Order summary</h1>
    </div>
    <!-- order heading end -->

    <!-- order items start -->
    <div class="pizza-list mt-5 flex items-center justify-between border-b border-gray-400 pb-4">
        <div class="flex items-center">
          <img src="/images/pizza.png" alt="pizza" class="w-20"/>
          <div class="ml-4 text-center">
            <h1 class="text-xl">Marinara</h1>
            <span class="text-xs uppercase">Medium</span>
          </div>
        </div>
        <span>1 Pcs</span>
        <span><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
        <span><i class="fa fa-window-close text-red-600 cursor-pointer" aria-hidden="true"></i></span>
      </div>
      <!-- order items end -->
      <!-- order items start -->
      <div class="pizza-list mt-5 flex items-center justify-between border-b border-gray-400 pb-4">
          <div class="flex items-center">
            <img src="/images/pizza.png" alt="pizza" class="w-20"/>
            <div class="ml-4 text-center">
              <h1 class="text-xl">Marinara</h1>
              <span class="text-xs uppercase">Medium</span>
            </div>
          </div>
          <span>1 Pcs</span>
          <span><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
          <span><i class="fa fa-window-close text-red-600 cursor-pointer" aria-hidden="true"></i></span>
        </div>
        <!-- order items end -->
        <!-- order items start -->
        <div class="pizza-list mt-5 flex items-center justify-between border-b border-gray-400 pb-4">
            <div class="flex items-center">
              <img src="/images/pizza.png" alt="pizza" class="w-20"/>
              <div class="ml-4 text-center">
                <h1 class="text-xl">Marinara</h1>
                <span class="text-xs uppercase">Medium</span>
              </div>
            </div>
            <span>1 Pcs</span>
            <span><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
            <span><i class="fa fa-window-close text-red-600 cursor-pointer" aria-hidden="true"></i></span>
          </div>
          <!-- order items end -->
          <!-- order items start -->
          <div class="pizza-list mt-5 flex items-center justify-between border-b border-gray-400 pb-4">
              <div class="flex items-center">
                <img src="/images/pizza.png" alt="pizza" class="w-20"/>
                <div class="ml-4 text-center">
                  <h1 class="text-xl">Marinara</h1>
                  <span class="text-xs uppercase">Medium</span>
                </div>
              </div>
              <span>1 Pcs</span>
              <span><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
              <span><i class="fa fa-window-close text-red-600 cursor-pointer" aria-hidden="true"></i></span>
            </div>
            <!-- order items end -->
            <!-- order items start -->
            <div class="pizza-list mt-5 flex items-center justify-between border-b border-gray-400 pb-4">
                <div class="flex items-center">
                  <img src="/images/pizza.png" alt="pizza" class="w-20"/>
                  <div class="ml-4 text-center">
                    <h1 class="text-xl">Marinara</h1>
                    <span class="text-xs uppercase">Medium</span>
                  </div>
                </div>
                <span>1 Pcs</span>
                <span><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
                <span><i class="fa fa-window-close text-red-600 cursor-pointer" aria-hidden="true"></i></span>
              </div>
              <!-- order items end -->
              <div class="py-5">
                <div class="flex items-center justify-end">
                  <span class="text-lg font-bold">Total Amount : </span>
                    <span class="amount text-2xl font-bold ml-2"><i class="fa fa-inr" aria-hidden="true"></i> 450</span>
                </div>
              </div>
              <!-- user info -->
              <div class=" mt-5">
                <form class="w-full" action="index.html" method="post">
                  <div class="flex items-center">
                    <input placeholder="Your Name" type="text" name="name" value="" class="border border-gray-400 py-1 m-2 lg:w-1/2  "/>
                    <input placeholder="Email Address" type="email" name="email" value="" class="border border-gray-400 py-1 m-2 lg:w-1/2  "/>
                  </div>
                  <div class="flex items-center">
                    <input placeholder="pin code" type="email" name="number" value="" class="border border-gray-400 py-1 m-2 lg:w-1/2  "/>
                    <input placeholder="Contact No " type="phone" name="phone" value="" class="border border-gray-400 py-1 m-2 lg:w-1/2  "/>
                  </div>
                  <textarea name="name"  class="border border-gray-400 py-1 mb-2 lg:w-full"placeholder="delivery address"></textarea>
                  <!-- <div class="flex items-center justify-end">
                    <button type="submit" name="button" class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Order Now</button>
                </div> -->
                </form>
              </div>
              <!-- user info end -->
              <div class="flex items-center justify-end">
                <a href="#" class="inline-block  cursor-pointer px-6 btn-primary px-5 py-2 rounded-full text-white font-bold mt-6">Login to continue</a>
              </div>

    </div>


  <!-- order container end-->
  <!-- <div class="empty-cart">
    <div class="container mx-auto text-center ">
      <div class="flex items-center justify-center mb-2 ">
        <h1 class="mr-5 text-3xl ">Cart Emtpy</h1>
        <img src="/images/emoji.png" alt="emoji" class="w-10"/>
      </div>
      <p class="mt-2 text-gray-500 text-lg">You probably haven't ordered a pizza yet</p>
      <p class="mb-2 text-gray-500 text-lg">To order a pizza, go to the main page</p>
      <img src="/images/empty-cart.png" alt="empty-cart" class="w-2/5 mx-auto"/>
      <a href="/" class="inline-block px-6 py-2 go-back rounded-full btn-primary text-white font-bold mt-2 mb-5">
        <i class="fa fa-angle-double-left mx-2" aria-hidden="true">
        </i>
        Go Back</a>
    </div>

  </div> -->

</section>
